@import "https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  /* z-index: 1; */
  background-color: #033f47;
  color: white;
  /* position: relative; */
}
/* container start */
a {
  text-decoration: none;
}

/* .container {
  min-height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
} */
.brand h1 {
  font-size: 2rem;
  text-transform: uppercase;
  color: white;
}
.brand h1 span {
  color: crimson;
}
/* container end */

/* Header section */
#header {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: auto;
}
#header .header {
  min-height: 8vh;
  background-color: rgba(611, 198, 41, 0.41);
  transition: 0.3s ease background-color;
}
#header .nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1300px;
  padding: 0 10px;
}
#header .nav-list ul {
  list-style: none;
  position: absolute;
  background-color: black;
  width: 100vw;
  height: 100vh;
  left: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.5s ease left;
}
#header .nav-list ul.active {
  left: 20%;
}
#header .nav-list ul a {
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding: 20px;
  display: block;
}
#header .nav-list ul a::after {
  content: attr(data-after);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: rgba(37, 236, 30, 0.068);
  font-size: 13rem;
  letter-spacing: 50px;
  z-index: -1;
  transition: 0.3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
  transform: translate(-50%, -50%) scale(1);
  letter-spacing: initial;
}
#header .nav-list ul li:hover a {
  color: crimson;
  border-bottom: 3px solid palevioletred;
  transition: 0.5s ease-in-out;
}
#header .hamburger {
  height: 60px;
  width: 60px;
  display: inline-block;
  border: 3px solid white;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  cursor: pointer;
  transform: scale(0.8);
  margin-right: 20px;
}
#header .hamburger:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3px solid white;
  animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
  height: 2px;
  width: 30px;
  position: relative;
  background-color: white;
  z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: white;
  transition: 0.3s ease;
  transition-property: top, bottom;
}
#header .hamburger .bar::after {
  top: 8px;
}
#header .hamburger .bar::before {
  bottom: 8px;
}
#header .hamburger.active .bar::before {
  bottom: 0;
}
#header .hamburger.active .bar::after {
  top: 0;
}
/* End Header section */

/* Keyframes */
@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}
/* Keyframes End */
/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
  /* header */
  #header .hamburger {
    display: none;
  }
  #header .nav-list ul {
    position: initial;
    display: block;
    height: auto;
    width: fit-content;
    background-color: transparent;
  }

  #header .nav-list ul li {
    display: inline-block;
  }
  #header .nav-list ul li a {
    font-size: 1.8rem;
  }
  #header .nav-list ul a:after {
    display: none;
  }
}

/* End header */

/* search-bar */

.search-bar {
  margin-top: 0;
  display: flex;
  justify-content: center;
  min-height: 05vh;
  justify-content: center;
  align-items: center;
  
}

.form-control {

  height: 6rem;
  justify-content: center;
  border-color: saddlebrown;
  width: 20rem;
  /* background-color: #033f47; */
  align-items: center;
  justify-content: space-between;
}

.form-control:hover {
  color: transparent;
  transition: 0.5s ease;
  background-color: rgba(221, 251, 152, 0.384);
}

.btn {
  height: 6rem;

  border-color: saddlebrown;
  /* background-color: #033f47; */

  width: 5rem;
}
.btn:hover {
  background-color: rgba(221, 251, 152, 0.253);
  transition: 0.5s ease;
}
/* //search-bar */

/* Media Query For Tablet */

 @media (min-width: 602px) {
  .form-control {
    width:70rem;
    flex-basis: 50%;
    height: 6rem;
  }
} 

/* //Media Query For Tablet */

/* grain-bar  */

#main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-image: linear-gradient(  rgba(240, 43, 21, 0.405),rgba(23, 443, 33, 0.3) ),url(bg\ img.jpg); 
  min-height: 100vh;
}
/* .cool-class {
  position: relative;
  width: 100%;
  margin-top: 4rem;
  margin: 37px 62px;
  height: 100%;
  padding: 5px;
} */
 .grid{
  align-items: center;
  flex-wrap: wrap;
}
 
.card{
  padding-left:5rem;
  justify-content: space-between;
  color: inherit;
}

.cab h1{
  display: flex;
  margin-top: 4rem;
}
/* .cab{
  
} */
.container-case{
  display: flex; 
  flex-direction:column;
  background-color:crimson
   ;
  min-height: 90vh;
  margin-top: 3rem;
  align-items: center;
  border-radius:3rem ;
  text-align: center;
}

.cake{
  display: flex;
}
.buying{
  
   background-color: white;
  border-radius: 50%;
  margin-top: 3rem;
  margin:4rem 4rem ;
  padding: 3rem;
  width: 8rem;
  height: 8rem;
  padding: 2rem;
}
.buying p{
  display: flex;font-size: 1.5rem;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top:3rem;
  flex-wrap: wrap;
}
.buying img{
  width: 4rem;
  height: 4rem;
}

.find-product{
  margin-top: 5rem;
}
.find-product h2{
  padding-bottom: 2rem;
  font-weight: bold;
  color: black;
}
.find-product input{
  text-align: center;
  height: 4rem;
}

.find-product input:hover{
  transition: 0.5s ease-out;
  color:#99FF00;
  background-color: #660000;
}
.select {
  text-transform: uppercase;
  font-size: 2rem;
  margin:0 06rem;
  
}
.select h3{
  padding-top: 6rem;
}
.select h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-top: 3rem;
}
.select p {
  margin-top: 0;
  font-size: 2rem;
}

.butt{
  margin-left: 2rem;
  margin-top:4rem;
width: 100%;
}
.cta{

  display:block;
  border:5px solid crimson;
  width: fit-content;
  font-size:2.5rem;
  border-radius:1rem;
  text-align: center;
  font-weight: bolder;
  color: #000;
}
 .cta:hover {
  transform: scale(1.2);
  color: #fff;
  background-color:transparent;
  transition: 0.5s ease;
 
}
 .fab-color {
  align-items:center;
  margin-left: 2rem;
  margin-top: 4rem;
 display: flex;
 font-size:1.8rem;
}
.fab{
  border-radius: 50%; 
  box-shadow: 4px 4px 0px  black;
  padding: 1rem;
  justify-content: space-between;
}
.fab:hover{
  transform: scale(1.5);
   background-color:hwb(240 0% 0%) ;
   transition: 0.5s ease-in-out;
  color: #cbdf16;
}
/* .container.cup{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
 
} */
.style{
  background-color:white; 
  width: 06rem;
  border-radius:50%;
  text-align: center;
  justify-content: center;
  align-items: center;
   height: 6rem;
}

.style img{
   margin: 1.4rem; 
   width: 3rem;
   border-radius: 50%;
    height: 3rem;
}

/* .card{
  min-height: 100vh;
  margin-top: 0;
  padding: 5rem;
  margin-left: 15rem;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  max-width: 30%;
  box-sizing: border-box;
  background-color: rgba(20, 220, 33, 0.687);
} */
.card_1{
   padding-left: 2rem ;
  padding-right: 2rem;
  margin-top:18rem;
}
.card_1 h2{
  font-size: 1.2rem;
  margin: 20px ;
}
@media(min-width:766px) {

  .butt{
  margin: 1.3%;
   margin-left: 2rem;
  margin-top:4rem;
  }
.cta{
  width: 13rem;
  font-size: 1.5rem;
  border:1rem solid wheat;

}

.fab-color{
  margin-left: 2rem;
  margin-top: 3rem;
  display: flex;
   align-items:center;
}
.fab{
  padding:2rem;
  .fab{
  border-radius: 50%; 
  box-shadow: 4px 4px 0px  black;

}

}
.fab:hover{
  transform: scale(1.5);
   background-color:hwb(245 0% 0%) ;
   transition: 0.5s ease-in-out;
  color: #cbdf16;
}
}